.history-table-container .table td, .history-table-container .table th {
    padding: 1px;
    margin-top: 20px;
}
    
    @media only screen and (min-width: 769) {
        .history-table-container .table td, .history-table-container .table th {
            padding: 20px;
        }
    }  
