
.trophy{
    height: auto;
    width: 100%;
}
.information-container{
    margin-top: 30px;
    margin-bottom: 20px;
}

@media only screen and (min-width: 769px) {
    .trophy {
        width: 50%;
    }
    .information-container{
        padding: 0 100px;
    }
}

.blink_text {
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}